name: Domains

on:
    pull_request:
        paths:
            - "domains/*"

jobs:
    validate_email:
        name: Validate Email
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v3

            - name: Find Files
              id: find_files
              run: |
                  files=$(curl -s -H "Authorization: Bearer ${{ secrets.BOT }}" \
                          "https://api.github.com/repos/${{ github.repository }}/pulls/${{ github.event.pull_request.number }}/files?per_page=100" \
                          | jq -r '.[] | select(.status == "added" or .status == "modified") | .filename' \
                          | grep 'domains/' \
                          | grep '\.json$')

                  echo "::set-output name=files::$files"

            - name: Retrieve Emails
              id: validate_email
              run: |
                  for file in ${{ steps.find_files.outputs.files }}; do
                      owner_email=$(jq -r '.owner.email' "$file")

                      echo "::set-output name=email::$owner_email"
                      echo "::set-output name=file::$file"
                  done

            - name: Validate Emails
              id: email_validation
              run: |
                  for file in ${{ steps.find_files.outputs.files }}; do
                      filename=$(basename "$file")
                      owner_email=$(jq -r '.owner.email' "$file")

                      if ! email_validation_result=$(wdhdev/validate-email-action@main --email "$owner_email"); then
                          echo "FAIL $owner_email $filename"
                          echo "FAIL $owner_email $filename" >> failed_validations.txt
                      else
                          echo "PASS $owner_email $filename"
                          echo "PASS $owner_email $filename" >> passed_validations.txt
                      fi
                  done

                  if [[ -s failed_validations.txt ]]; then
                      echo ""
                      echo "::error::Email validation failed for the following files:"
                      cat failed_validations.txt
                      exit 1
                  fi
