name: Validation

on:
    workflow_dispatch: {}
    push:
        branches: [main]
    pull_request:
        tags-ignore: ["**"]

concurrency:
    group: ${{ github.ref }}-tests
    cancel-in-progress: true

jobs:
    dns:
        name: DNS
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - uses: gacts/install-dnscontrol@v1
            - run: dnscontrol check
