name: Validation

on:
    workflow_dispatch: {}
    push:
        branches: [main]
        paths:
            - "domains/"
            - "schemas/"
            - "dnsconfig.js"
    pull_request:

concurrency:
    group: ${{ github.ref }}-tests
    cancel-in-progress: true

jobs:
    dns:
        name: DNS
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - uses: gacts/install-dnscontrol@v1
            - run: dnscontrol check

    json:
        name: JSON
        runs-on: ubuntu-latest
        steps:
          - uses: actions/checkout@v2
          - name: JSON Syntax Check
              uses: limitusus/json-syntax-check@v1
              with:
                  pattern: "\\.json$"
              env:
                  base: "domains/"
