name: Validation

on:
    workflow_dispatch: {}
    push:
        branches: [main]
        paths:
            - "domains/**/*.json"
            - "schemas/**/*"
            - "dnsconfig.js"
    pull_request:
        paths:
            - "domains/**/*.json"
            - "schemas/**/*"
            - "dnsconfig.js"

concurrency:
    group: ${{ github.ref }}-tests
    cancel-in-progress: true

jobs:
    dns:
        name: DNS
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - uses: gacts/install-dnscontrol@v1
            - run: dnscontrol check
